ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    color: #41494b;
    font-size: .99em;
}

.forum {
    overflow: scroll;
    margin: auto;
    width: 50%;
    padding: 10px;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    height: 70%;
}

article {
    background-color: lightgray;
    border-radius: 5px;
    margin: 5px;
    padding: 8px
}

.prof-pic {
    max-width: 8%;
    margin-right: 1%;
}

.pic-and-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px
}

.forum::-webkit-scrollbar {
    display: none;
}
.pic-and-date ~ p {
    font-size: 16px;
}


footer {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    margin-top: 2vh;
    margin-bottom: 0.1vh;
}

#github {
    height: 100%;
    width: auto;
}

footer > a {
    height: 80%;
}

img + p {
    font-style: italic;
}
