#login-box {
    padding: 5%;
    margin-top: 3vh;
    width: 25%;
    text-align:center;
}

.login-input {
    width: 50%;
    height: 30px;
    border: 0;
}
@media screen and (max-width: 450px) {
    #login-box {
        width: 100%
    }
}
@media only screen and (min-width: 850px) {
    #login-box {
        width: 25%;
    }
}