.flex-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100vh;
    font-size:20px;
}

.button {
    color:white;
    background-color:navy;
    text-align: center;
}

.flex-element {
    border-radius: 10px;
    background-color: lightgray;
    margin-top: 10vh;
    padding: 5%;
}

#login-box {
    width: 30%;
    text-align:center;
}

