.flex-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 97vh;
    font-size:18px;
    font-family: Arial, serif;

}

.flex-element {
    border-radius: 10px;
    background-color: lightgray;
}

.button {
    color:white;
    background-color:navy;
    text-align: center;
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1vh;
}

#menu {
    margin-left: 1%;
}

#menu > a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin-right: 2vw;
}
form > input {
    width: 50%;
    height: 30px;
    border: 0;
}
#user-image {
    max-height: 80%;
    width: auto;
    margin-right: 1%;
}

form > * {
    margin: 5px;
}

.menuLink:hover {
    background-color: gray;
}


