<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/home.css">
    <link rel="stylesheet" href="../style/style.css">
    <title>Homework 1</title>
</head>
<body>
<div class="flex-container">
    <header class="flex-element">
        <div id="menu">
            <a class="menuLink" href="index.html">Home</a>
            <a class="menuLink" href="addPost.html">Add Post</a>
        </div>
        <img onClick="showDropdown()" src="../assets/defaultUser.png" id="user-image" alt="user image">
    </header>
    <section class="forum">
        <div id="dropdown-content">
            <p>John Doe</p>
            <p>john.doe@ut.ee</p>
            <a href="login.html">logout</a>
        </div>
        <div id="left">
        </div>
        <div id="right">
        </div>
        <div id="postArea"></div>
    </section>
    <footer class="flex-element">
        <a href="https://github.com/villemsusi/wad/tree/main/HW/HW1" target="_blank">
            <img src="../assets/GitHub-Logo.png" id="github" alt="github-logo">
        </a>
    </footer>
</div>
<script type="text/javascript" src="../src/js/header.js"></script>
<script type="text/javascript" src="../src/js/loadPosts.js"></script>
</body>
</html>