<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/home.css">
    <link rel="stylesheet" href="../style/style.css">
    <title>Homework 1</title>
</head>
<body>
<div class="flex-container">
    <header class="flex-element">
        <div id="menu">
            <a class="menuLink" href="index.html">Home</a>
            <a class="menuLink" href="addPost.html">Add Post</a>
        </div>
        <img src="../assets/defaultUser.png" id="user-image" alt="user image">
    </header>
    <section class="forum">
        <div id="left">
            <img src="../assets/hesburger.jpg" id="hesburger" alt="hesburger logo">
        </div>
        <div id="right">
            <img src="../assets/house.jpg" id="house" alt="photo of dr. house">
        </div>
        <article>
            <div class = "pic-and-date">
                <img src="../assets/defaultUser.png" class = "prof-pic" alt="user-profile-picture">
                <b>Oct 23, 2022</b>
            </div>
            <p>
                What room is the lab in?
            </p>
        </article>
        <article>
            <div class="pic-and-date">
                <img src="../assets/defaultUser.png" class = "prof-pic" alt="user-profile-picture">
                <b>Oct 22, 2022</b>
            </div>
            <p>
                Helloooo
            </p>
        </article>
        <article>
            <div class = "pic-and-date">
                <img src="../assets/defaultUser.png" class = "prof-pic" alt="user-profile-picture">
                <b>July 21, 2022</b>
            </div>
            <img src="../assets/pilt_tartust.jpg" alt="pilt-tartust">
            <p>This is pretty cool</p>
        </article>
        <article>
            <div class ="pic-and-date">
                <img src="../assets/defaultUser.png" class = "prof-pic" alt="user-profile-picture">
                <b>Mar 30, 2022</b>
            </div>
            <p>Tervitan
            </p>
        </article>
        <article>
            <div class ="pic-and-date">
                <img src="../assets/defaultUser.png" class = "prof-pic" alt="user-profile-picture">
                <b>Jan 20, 2022</b>
            </div>
            <p>LJ?</p>
        </article>
    </section>
    <footer class="flex-element">
            <a href="https://github.com/villemsusi/wad/tree/main/HW/HW1" target="_blank">
                <img src="../assets/GitHub-Logo.png" id="github" alt="github-logo">
            </a>
    </footer>
</div>
</body>
</html>