<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/login.css">
</head>
<body>
<div class="flex-container">
    <header class="flex-element">
        <div id="menu">
            <a class="menuLink" href="index.html">Home</a>
            <a class="menuLink" href="addPost.html">Add Post</a>
        </div>
        <img src="../assets/defaultUser.png" id="user-image" alt="user image">
    </header>
    <div id="login-box" class="flex-element">
        <b>Welcome to PostIt</b><br><br>
        <a href="#">Create an account</a><br>
        <p>or<br>Please log in</p><br>
        <form method="POST" action="index.html">
            <input type="email" placeholder="Email" required><br>
            <input type="password" placeholder="Password" required><br>
            <input type="submit" value="Log in" class="button"><br>
            <a href="#">Forget password</a><br>
        </form>
    </div>
</div>
</body>
</html>