.button2 {
    color: white;
    width: 10%;
    height: 20px;
    background-color: gray;
    text-align: center;
}

#add-box {
    padding: 5%;
    margin-top: 3vh;
    display: flex;
    flex-flow: column nowrap;
}

#add-box > input {
    margin-top: 20%;
    height: 25px;
}

.newPost {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
}

.textbox {
    width: 100%;
    height: 40px;
    text-align: left;
    border-radius: 10px;
}

@media only screen and (min-width: 850px) {
    .newPost > * {
        flex-basis: 40%;
        justify-content: center;
    }

    #add-box {
        width: 37%;
    }
}

@media screen and (max-width: 450px) {
    .newPost > * {
        flex-basis: 100%;
    }

    #add-box {
        width: 55%
    }

}

#addForm {
    width: 100%;
}
