#aPostArea {
    height: 70%;
    width: 85%;

}

#text{
    overflow-wrap: break-word;
    padding: 5%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    text-align: center;
    width: 90%;
    display: inline-block;
    background-color: whitesmoke;
}

#textarea {
    overflow-wrap: break-word;
    padding: 5%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    text-align: center;
    width: 90%;
    display: inline-block;
    background-color: whitesmoke;
}

#aPost-Box {
    padding: 5%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 35%;
    margin-left: 50vh;
    text-align: center;
    height: 70%;
    background-color: #fde0cb;
}
label{
    font-size: 15px;
}
input{
    margin: 10px;
}
