#contactArea {
    height: 80%;
    width: 85%;

}

#back {
    padding: 5%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 35%;
    text-align: center;
    margin-left: 50vh;
    height: 70%;
    background-color: #fde0cb;
}
label{
    font-size: 20px;
}