#login-box {
    padding: 5%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 25%;
    text-align: center;
}

#signup-box {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 5%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 25%;
    text-align: right;
}

.login-input {
    width: 50%;
    height: 30px;
    border-radius: 10px;
}
@media screen and (max-width: 450px) {
    #login-box {
        width: 100%
    }
}
@media only screen and (min-width: 850px) {
    #login-box {
        width: 25%;
    }
}

.button:disabled {
    background-color: gray;
}

.error_message {
    color: red;
    font-size: 14px;
    
}